:root {
    --white: #fff;
    --black: #000;
    --clay: #1b1f28;
    --dark-green: #97b442;
    --medium-green: #5fe0be;
    --yellow-green: #11bd0d;
    --dark-blue: #0b2131;
    --medium-text-blue: #394b58;
    --medium-blue: #2700ef;
    --light-blue: #4884FF;
    --border-blue: #1657ff;
    --border-pink: #ee27ff;
    --border-red: #ff4e65;
    --border-orange: #ff9b00;
    --yellow: #f3df6b;
    --red: #d62308;
    --purple: #cdc4fb;
    --pink: #fb998a;


    --red-hat-text: 'Red Hat Text', sans-serif;

    --transition: all 0.3s ease-in-out;

    --header-height: 5rem;

}

body {
    font-family: 'Prompt', sans-serif;
    color: var(--dark-blue);
    min-height: 100vh;
}


/* Header Starts Here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--medium-green);
    color: var(--dark-blue);
    border-bottom: 2px solid var(--black);
    height: var(--header-height);
}

.logo {
    padding: 0 2.375rem;
    border-right: 2px solid var(--black);
    height: var(--header-height);
    line-height: var(--header-height);
}

.nav ul {
    display: flex;
}

.nav ul li {
    text-transform: uppercase;
}

.nav ul li a {
    color: var(--dark-blue);
    font-size: 1.25rem;
    margin-right: 2.93rem;
    transition: var(--transition);
}

.nav ul li a:hover {
    color: var(--light-blue);
}

.header-btn-container {
    height: var(--header-height);
    line-height: var(--header-height);
    padding-left: 2.375rem;
    border-left: 2px solid var(--black);
}

/* Header Ends Here */

/* Hero Section Starts Here */

.hero {
    background-color: var(--medium-green);
    display: flex;
    height: calc(100vh - var(--header-height));
}

.hero-content {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 6.2rem;
    justify-content: center;
}

.hero-content-title {
    display: flex;
    width: 55%;
    position: relative;
}

.hero-content-title img {
    position: absolute;
    left: 300px;
    top: 10px;
}

.hero-content p {
    margin-top: 1rem;
    width: 60%;
}

.hero-content-text-title {
    display: flex;
}

input[type="email"] {
    border: none;
    background: transparent;
    border-bottom: 2px solid var(--dark-blue);
    width: 56.25%;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 4rem;
    margin-top: 3rem;
    line-height: 3;
}

input[type="email"]::placeholder {
    color: var(--dark-blue);
    text-align: left;
    font-size: 1.25rem;
}

.shadow-btn:hover {
    transform: translateY(-5px);
}

.right-arrow {
    margin-left: 1.325rem;
}

.right-arrow img {
    width: 2.4rem;
}

.image-container {
    width: 50%;
    background-color: var(--yellow);
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container .rating {
    position: absolute;
    top: 325px;
    right: 130px;
}

.image-container .line {
    position: absolute;
    top: 410px;
    right: 270px;
}

/* Hero Section Ends Here */

/* References Section Starts Here */

.references {
    background-color: var(--dark-blue);
}

.references ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 7.93rem;
    padding: 0 6.2rem;
}

/* References Section Ends Here */

/* Services Section Starts Here */

.services {
    margin-top: 3rem;
    text-align: center;
    border-bottom: 2px solid var(--black);
}

.services p {
    color: var(--medium-text-blue);
    margin: 1.5rem 0 4rem 0;
    width: 25%;
    margin-inline: auto;
}

.icons-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 15rem;
    margin: 2rem 0 5rem 0;
}

.services-img {
    padding: 1.75rem;
    border: 1px solid var(--dark-blue);
    border-radius: 2rem;
    box-shadow: 5px 5px 0 0 var(--black);
}

.services-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-icon h3 {
    margin-top: 1.5rem;
}

.services-img.first {
    padding: 2.25rem 2rem 2.25rem 2rem;
}

.services-img img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

/* Services Section Ends Here */

/* Info Section Starts Here */

.info {
    margin: 3.5rem 0 3rem 0;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.info-container {
    display: flex;
    gap: 10rem;
    justify-content: space-between;
}

.info-container .img-container {
    width: 50%;
}

.info-container .img-container img {
    /* width: 70%; */
    height: auto;
}

.info-container .info-content {
    width: 50%;
}

.info-container .info-content h2 {
    margin-top: 5rem;
    line-height: 1.5;
    width: 80%;
}

.info-container .info-content p {
    margin: 2rem 0 3rem 0;
    line-height: 1.5;
    width: 70%;
    color: var(--medium-text-blue);
}

/* Info Section Ends Here */

/* Team Section Starts Here */
.team {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    gap: 14rem;
    padding-bottom: 4rem;
}

.team-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6rem;
    gap: 1rem;
    color: var(--white);
}

.team-info-container {
    color: var(--white);
}

.team-info-container h2 {
    margin: 7rem 0 2rem 0;
}

.team-info-container>p {
    line-height: 1.5;
    width: 75%;
    margin-bottom: 2rem;
}

.team-info-container .table-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    max-width: 550px;
    padding-top: 2rem;
}

.table-container .table h3 {
    padding-top: 1rem;
    margin-bottom: .5rem;
}

.table-container .table p {
    padding-bottom: 0.5rem;
}

.table-container .table:first-child {
    border-bottom: 1px solid var(--border-pink);
}

.table-container .table:nth-child(2) {
    border-left: 1px solid var(--border-red);
    border-bottom: 1px solid var(--border-blue);
    padding-left: 2rem;
}

.table-container .table:last-child {
    border-left: 1px solid var(--border-orange);
    padding-left: 2rem;
}

/* Team Section Ends Here */

/* Pricing Section Starts Here */

.pricing {
    margin: 4rem 0;
}

.pricing h2 {
    text-align: center;
}

.blue {
    color: var(--medium-blue);
}

h6.red {
    color: var(--red);
}

.pricing>p {
    text-align: center;
    color: var(--medium-text-blue);
    margin: 1.5rem 0 4rem 0;
    width: 40%;
    margin-inline: auto;
}

.pricing .card-container {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
    gap: 2rem;
}

.basic-card {
    background: var(--purple);
    width: 35%;
    height: 100%;
    border: 1px solid var(--dark-blue);
    border-radius: 1rem;
}

.basic-card h3 {
    margin: 2rem 0 0 0;
    padding-left: 2rem;
}

.basic-card p.lg {
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--black);
    margin-bottom: 1rem;
}

.pro-card {
    background: var(--pink);
    width: 35%;
    height: 100%;
    border: 1px solid var(--dark-blue);
    border-radius: 1rem;
}

.pro-card h3 {
    margin: 2rem 0 0 0;
    padding-left: 2rem;
}

.pro-card p.lg {
    width: 100%;
    padding-left: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--black);
    margin-bottom: 1rem;
}

.checkmarks {
    display: flex;
    width: 89%;
    justify-content: center;
    margin-inline: auto;
    border-bottom: 1px solid #948AC3;
}

.checkmarks.red {
    border-color: #98584E;
}

.checkmarks-content h6 {
    margin: 1rem 0;

}

.checkmarks-content p {
    line-height: 1.3;
    padding-bottom: 1rem;
}

.checkmarks img {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 2rem;
    height: 1.5rem;
}

.btn.lg {
    margin-top: 2rem;
    width: 85%;
    margin-bottom: 2rem;
    margin-inline: auto;
    border: 1px solid var(--black);
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Pricing Section Ends Here */

/* FAQ Section Starts Here */

.faq-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    place-items: center;
    width: 60%;
    margin-inline: auto;
    padding-top: 3rem;
}

.faq-mobile-container {
    display: none;
}

.faq h2 {
    text-align: center;
    padding-top: 2rem;
}

.faq>p {
    text-align: center;
    color: var(--medium-text-blue);
    width: 45%;
    margin-inline: auto;
    padding-top: 1rem;
}

.faq>h5 {
    margin-bottom: 1rem;
    color: var(--pink);
}

.faq-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--dark-blue);
}

.border-none {
    border: none;
}

/* FAQ Section Ends Here */

/* Footer Starts Here */

footer {
    background-color: var(--medium-green);
    margin: 5rem 0 0 0;
    height: 830px;
}

.footer-content h2 {
    width: 45%;
    padding: 3rem 0 0 10rem;
    line-height: 1.6;
}

.footer-content>p {
    width: 60%;
    padding: 1rem 0 0 10rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

footer form {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    padding: 0 10rem;
}

footer .btn {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10rem;
}

footer .input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 300px;
}

.input-container input {
    width: 100%;
    padding: 10px 40px;
    border: 1px solid var(--black);
    background-color: var(--dark-green);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    font-family: 'prompt', sans-serif;
}

.input-container input::placeholder {
    color: var(--black);
}

.input-container .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.footer-info {
    display: flex;
    padding: 3rem 0 0 10rem;
    margin-top: 6rem;
    border-top: 1px solid var(--dark-blue);
}

.footer-info .logo-info {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-info .logo-info>p {
    margin-top: 1rem;
    width: 60%;
    font-family: var(--red-hat-text);
}

.footer-info .logo-info .location {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: .5rem;
    font-family: var(--red-hat-text);
}


.footer-info .logo-info .location img {
    width: 20px;
    height: 20px;
    margin: 0;
}

.footer-links {
    display: flex;
    gap: 4rem;
}

.footer-link-item h6 {
    margin-bottom: 1rem;
}

.footer-link-item ul li {
    margin-bottom: .5rem;
}

.footer-link-item ul li a {
    font-family: var(--red-hat-text);
    color: var(--dark-blue);
    font-weight: normal;
}

.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1rem;
    z-index: 10;
}

.open-icon {
    display: none;
}

.close-icon {
    display: none;
}

@media only screen and (max-width: 1380px) {
    .hero-content-title h1 {
        font-size: 2.5rem;
        line-height: 1.5;
    }

    .hero-content p {
        font-size: 1.1rem;
    }

    .hero-content-title img {
        left: 210px;
        top: 3px;
    }

    input[type="email"] {
        margin: 2rem 0;
    }

    .image-container .rating {
        top: 150px;
        right: 30px;
    }

    .image-container .line {
        top: 225px;
        right: 215px;
    }

    .references ul li img {
        width: 75%;
    }

    .services {
        margin-bottom: 2rem;
    }

    .services p {
        width: 50%;
    }

    .services .icons-container {
        flex-wrap: wrap;
        margin-bottom: 3rem;
        gap: 3rem;
    }

    .info-container img-container {
        width: 100%;
        padding: 0;
    }

    .info-container img-container img {
        width: unset;
    }

    .info-container .info-content h2 {
        font-size: 2.25rem;
        line-height: 1.3;
        margin: 0;
    }

    .team {
        gap: 2rem;
        margin: 0;
        padding: 0 6rem;
    }

    .team-info-container>p {
        margin-bottom: .5rem;
        width: 85%;
    }

    .team-image-container {
        margin-bottom: 5rem;
        padding-right: 2rem;
    }

    .pricing .basic-card {
        width: 50%;
    }

    .pricing .pro-card {
        width: 50%;
    }

    .pricing .pro-card p {
        width: 100%;
    }

    .checkmarks {
        width: 90%;
    }

    .checkmarks-content p {
        width: 90%;
    }

    .faq-container {
        width: 80%;
        padding-left: 2rem;
    }

    .footer-content h2 {
        line-height: 1.3;
    }

    .footer-content>p {
        margin-bottom: 2rem;
    }

    .footer-info {
        margin-top: 3rem;
    }
}



@media only screen and (max-width: 1280px) {
    .image-container .rating {
        top: 187px;
        right: 30px;
    }

    .image-container .line {
        top: 275px;
        right: 180px;
    }
}

@media only screen and (max-width: 768px) {
    .hero {
        width: 100%;
        height: auto;
    }

    .hero-content {
        width: 100%;
        padding-left: 1.5rem;
        margin-inline: auto;
    }

    .hero-content-title {
        width: 100%;
    }

    .hero-content-title h1 {
        margin-top: 3rem;
        padding: 0;
        width: 90%;
        text-align: center;
    }

    .hero-content p {
        width: 90%;
        text-align: center;
    }

    .hero-content button {
        width: 70%;
        margin-inline: auto;
        margin-top: .5rem;
        margin-bottom: 2rem;
    }

    input[type="email"] {
        width: 90%;
    }

    .header-btn-container {
        display: none;
    }

    .hero-content-title img {
        display: none;
    }

    .image-container {
        display: none;
    }


    .references {
        display: none;
    }

    .services p {
        width: 90%;
    }

    .icons-container {
        flex-direction: column;
    }

    .info {
        margin: 2rem 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .info-container {
        width: 100%;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .info-container .img-container {
        width: 90%;
        padding-left: 1rem;
        margin-inline: auto;
        align-items: center;
        justify-content: center;
    }

    .info-container .img-container img {
        margin-inline: auto;
        width: 90%;
    }

    .info-container .info-content {
        width: 100%;
    }

    .info-container .info-content h2 {
        font-size: 2.25rem;
        line-height: 1.3;
        margin: 0;
        text-align: center;
        margin-inline: auto;
    }

    .info-container .info-content p {
        width: 100%;
    }

    .info-content {
        text-align: center;
        width: 100%;
        gap: unset;
        padding: 0;
    }

    .team {
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }

    .team-image-container {
        grid-template-columns: 1fr;
        place-items: center;
        margin-inline: auto;
        padding: 0;
        gap: 1rem;
        margin-bottom: 3rem;
    }

    .team-info-container {
        margin-inline: auto;
        text-align: center;
        padding-top: 0;
    }

    .team-info-container>p {
        width: 100%;
    }

    .team-info-container h2 {
        margin-top: 3rem;
    }

    .table-container {
        margin-inline: auto;
    }

    .table-container .table h3 {
        font-size: 1.3rem;
        text-align: center;
    }

    .table-container .table p {
        font-size: .8rem;
        text-align: center;
        margin-inline: auto;
    }

    .pricing p {
        width: 90%;
    }

    .pricing .card-container {
        padding: 0;
        margin-inline: auto;
        flex-direction: column;
        width: 100%;
        padding-left: 1rem;
        margin: 0;
    }

    .card-container .basic-card {
        width: 95%;
    }

    .card-container .pro-card {
        width: 95%;
    }

    .faq>p {
        width: 90%;
    }

    .faq h5 {
        width: 100%;
        padding: 0;
        font-size: 1.3rem;
    }

    .faq-container {
        display: none;
    }

    .faq>h5 {
        margin-top: 1rem;
    }

    .faq-mobile-container {
        display: block;
        grid-template-columns: 1fr;
        width: 90%;
        margin-inline: auto;
        margin-top: 3rem;
    }

    footer {
        height: auto;
        padding: 0;
    }

    .footer-content h2 {
        padding-top: 3rem;
        width: 90%;
        margin-inline: auto;
        text-align: center;
        padding: 0;
        line-height: 1.4;
    }

    .footer-content>p {
        width: 90%;
        text-align: center;
        margin-inline: auto;
        padding: 0;
    }

    footer form {
        flex-direction: column;
        margin-inline: auto;
    }

    footer .btn {
        margin-inline: auto;
    }

    .footer-info {
        flex-direction: column;
        padding: 0;
    }

    .footer-info .logo-info {
        width: 100%;
        margin-top: 1rem;
    }

    .footer-info .logo-info img {
        margin-inline: auto;
    }

    .footer-info .logo-info>p {
        width: 90%;
        margin-inline: auto;
        text-align: center;
    }

    .footer-info .logo-info .location {
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    .footer-links {
        flex-direction: column;
        gap: 2rem;
        margin-inline: auto;
        text-align: center;
    }

    /* Mobile Navigation */
    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--dark-blue);
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    }

    .open-icon {
        display: block;
    }

    .close-icon {
        display: none;
    }

    .menu-toggle.active .open-icon {
        display: none;
    }

    .menu-toggle.active .close-icon {
        display: block;
    }

    .nav.open {
        border: none;
        top: 0;
        height: 100%;
        width: 100%;
        max-height: 500px;
        /* Adjust based on menu content */
        background-color: var(--medium-green);
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
        padding-left: 2rem;
        justify-content: center;
        margin-inline: auto;
    }

    .nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        flex-direction: column;
    }

    .nav li {
        text-align: center;
        padding: 1rem 0;
    }

    .nav li:last-child {
        border-bottom: none;
    }
}